.quiz-container {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    width: 95%;
    max-width: 900px;
    margin: 40px auto 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
}

h2 {
    font-size: 1.2rem;
    text-align: center;
    color: #333;
    font-weight: 550;
}

.question {
    margin-bottom: 20px;
}

.question label {
    display: block;
    font-size: 1rem;
    margin-bottom: 8px;
    color: #555;
    font-weight: 600;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 0.9rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
}

button {
    background-color: #28a745;
    color: white;
    font-size: 0.9rem;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
    font-weight: 500;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #218838;
}

.green-theme {
    background-color: #d4edda;
}

.green-theme h2 {
    color: #155724;
}

.green-theme .question {
    border-left: 5px solid #155724;
    padding-left: 15px;
}

.green-theme select {
    border: 1px solid #155724;
}

.green-theme button {
    background-color: #17722c;
}

.green-theme button:hover:not(:disabled) {
    background-color: #218838;
}

div > .question:last-child {
    margin-bottom: 0;
}

h3 {
    font-size: 1.3rem; /* Smaller score heading font size */
    color: #333;
    text-align: center;
    margin-top: 20px;
    font-weight: 500;  /* Less bold heading font weight */
}

p {
    font-size: 1rem; /* Smaller feedback text font size */
    color: #555;
    text-align: center;
    font-weight: 500;  /* Less bold feedback text font weight */
}
