

<header class="p-3" style="background-color: #e9f8ff; border-bottom: 2px solid #b2d8e6;">
    <ul class="nav nav-pills" role="tablist" style="border-bottom: none;">
      <li class="nav-item" role="presentation">
        <a class="nav-link text-primary fw-semibold" 
           routerLink="/home" 
           routerLinkActive="active" 
           aria-selected="true" 
           role="tab">Home</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link text-primary fw-semibold" 
           routerLink="/about" 
           routerLinkActive="active" 
           aria-selected="false" 
           role="tab">About SDG 11</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link text-primary fw-semibold" 
           routerLink="/quiz" 
           routerLinkActive="active" 
           aria-selected="false" 
           role="tab">Carbon Quiz</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link text-primary fw-semibold" 
           routerLink="/resources" 
           routerLinkActive="active" 
           aria-selected="false" 
           role="tab">Climate Resources</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link text-primary fw-semibold" 
           routerLink="/involvement" 
           routerLinkActive="active" 
           aria-selected="false" 
           role="tab">Get Involved</a>
      </li>
    </ul>
  </header>
  

