<div class="container mt-5">
  <div class="text-center mb-4">
    <img src="BBlogo.png" alt="Breathe Baguio Logo" style="height: 300px;">
  </div>

  <h1 class="text-center text-primary">Welcome to Breathe Baguio</h1>
  <p class="text-center text-dark">
    Join us in raising awareness and taking action towards a sustainable future for Baguio City!
  </p>

  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSttJVw6Tx94DdDepGrlUFDa6pi1mjYdS0FQg&s" class="card-img-top card-img-fixed" alt="Sustainable City">
        <div class="card-body">
          <h5 class="card-title">SDG 11: Sustainable Cities and Communities</h5>
          <p class="card-text">Learn more about how we can create sustainable and resilient cities for future generations.</p>
          <a routerLink="/about" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card shadow-sm">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBBI9_6re--uDWkmVL72hSgZ5L1tJEMKWRxg&s" class="card-img-top card-img-fixed" alt="Carbon Emissions">
        <div class="card-body">
          <h5 class="card-title">Carbon Quiz</h5>
          <p class="card-text">Test your knowledge about carbon emissions and how to reduce them in your daily life.</p>
          <a routerLink="/quiz" class="btn btn-primary">Take the Quiz</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card shadow-sm">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQy99bjGU7F6TM7bgHFh1SsgMPalF7slruikQ&s" class="card-img-top card-img-fixed" alt="Community Events">
        <div class="card-body">
          <h5 class="card-title">Community Events</h5>
          <p class="card-text">Stay updated on upcoming environmental events and activities happening in Baguio City.</p>
          <a routerLink="/events" class="btn btn-primary">View Events</a>
        </div>
      </div>
    </div>
    

  </div>
</div>

<style>
  .card-img-fixed {
    height: 200px; /* Set the same height for all images */
    object-fit: cover; /* Make sure the image covers the entire space */
  }
</style>
